@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300&family=Montserrat:wght@300;400;800&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: gold;
}

.MainPage{
    background-color: #14161a;
    color: white;
    min-height: 100vh;
}



 /* styles for the banner component */

.banner{
    background-image: "url(./banner2.jpg)";
}

.bannerContent{
    height: 400;
    display: flex;
    flex-direction: column;
    padding-top: 25;
    justify-content: space-around;
}


/* table row element styling */

.RowElement{
    cursor: pointer;
    font-family:"Montserrat";
}

.RowElement:hover{
 background-color: #131111;
}

.Table{
    color: aliceblue;
}

.Pagination{
    padding:20;
    width:100%;
    display:flex;
    justify-content:center;
    color: gold;
}
