@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300&family=Montserrat:wght@300;400;800&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: gold;
}

.MainPage{
    background-color: #14161a;
    color: white;
    min-height: 100vh;
}



 /* styles for the banner component */

.banner{
    background-image: "url(./banner2.jpg)";
}

.bannerContent{
    height: 400;
    display: flex;
    flex-direction: column;
    padding-top: 25;
    justify-content: space-around;
}


/* table row element styling */

.RowElement{
    cursor: pointer;
    font-family:"Montserrat";
}

.RowElement:hover{
 background-color: #131111;
}

.Table{
    color: aliceblue;
}

.Pagination{
    padding:20;
    width:100%;
    display:flex;
    justify-content:center;
    color: gold;
}

 /* CoinPage styling */

.CoinContianer{
    display: flex;
    margin: 10px;
}

@media only screen and (max-width:768px) {
    .CoinContianer {
        flex-direction:column;
        align-items: center;
    }
 }

.sideBar{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25;
    border-right: 2px solid grey;
}

@media only screen and (max-width:768px) {
    .sideBar {
        width:100%
    }
 }

 .coinHeading{
    font-weight: bold;
    margin-bottom: 20;
    font-family: "Montserrat";
 }


.coinDescription{
    width: 100%;
    font-family: "Montserrat";
    padding: 25;
    padding-bottom: 15;
    padding-top: 0;
    text-align: justify;
}

.CoinData{
    align-self: start;
    padding: 25;
    padding-top: 10;
    width: 100%;
}

@media only screen and (max-width:768px) {
    .CoinData {
        display: flex;
        justify-content: space-around;
    }
 }

 @media only screen and (max-width:576px) {
    .CoinData {
        flex-direction: column;
        align-items: center;
    }
 }

 @media only screen and (min-width:576px) {
    .CoinData {
        align-items: start;
    }
 }

 /* Graph section of coin page */

 .GraphContainer{
    width:75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25;
    padding: 40;
 }

 @media only screen and (max-width:768px) {
    .GraphContainer {
        width: 100%;
        margin-top: 0;
        padding: 20;
        padding-top: 0;
    }
 }

 /* .SelectButton{
    border: 1px solid black;
    border-radius: 5;
    padding: 10;
    padding-left: 20;
    padding-right: 20;
    font-family: "Montserrat";
    cursor: pointer;
    background-color: sele`;
 } */